# This is a comment.
# Each line is a file pattern followed by one or more owners.
# refer to https://help.github.com/articles/about-codeowners/

# Note that CODEOWNERS of github.com does not support @org-name/team-name,
# even though it support @user-name format.

*                  @leemgs
/test/             @leemgs @hjoon0510 
